<phpunit>
    <testsuites>
        <testsuite name="Demo">
            <directory>demo/tests</directory>
        </testsuite>
    </testsuites>
    <listeners>
        <listener class="OliGriffiths\GUnit\TestListener">
            <arguments>
                <array>
                    <element key="base_uri">
                        <string>https://httpstat.us</string>
                    </element>
                    <element key="headers">
                        <array>
                            <element key="X-Foo">
                                <string>Some Value</string>
                            </element>
                        </array>
                    </element>
                </array>
            </arguments>
        </listener>
    </listeners>
</phpunit>
